chromedriver
sqlalchemy==2.0.*
selenium
beautifulsoup4
requests
pandas
numpy
python-jobspy
tqdm
google-generativeai
boto3
llama-index-embeddings-huggingface
qdrant-client[fastembed] 
fastembed-gpu
llama-index-embeddings-huggingface-api
googletrans
python-dotenv
